@import "../../../../styles/tools";

.root {
  @include flexColumnNowrap();
  width: 100%;

  & > h3 {
    color: green;
    margin-top: 0;
  }

  & > .toolbar {
    @include flexRowNowrap();
    width: 100%;

    & > button {
      @include basicButton();
    }
  }
}
