@import "../../styles/tools";

.AsideNavList {
  width: 100%;

  & .listItem {
    padding: 0;
  }

  & .linkItem {
    display: block;
    padding: 1rem 2rem;
    color: $secondaryColor90;
    text-decoration: none;

    &:hover {
      background-color: $secondaryColor10;
    }

    &.activeLinkItem {
      color: $whiteColor100;
      background-color: $primaryColor85;
    }
  }
}
