@import "../../../styles/tools";

.message_box {
  width: calc(100% - 2rem);
  margin: 1rem;
  padding: 1rem;
  border: 1px solid $secondaryColor10;
  border-radius: 4px;

  & > .messageItem {
    font-size: 1rem;

    &.validMessage {
      color: green;
    }

    &.invalidMessage {
      color: red;
    }
  }
}