@import "../../../../styles/tools";

.root {
  @include basicButton();
  @include inlineFlexCenter();
  margin: 0 1rem;
  height: 2rem;
  text-decoration: none;

  &:visited {
    color: $whiteColor100;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}