@import "colors";

@mixin flexContainer($direction: row, $wrapping: wrap, $justifyContent: flex-start, $alignItems: flex-start) {
  display: flex;
  flex-flow: $direction $wrapping;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin inlineFlexContainer($direction: row, $wrapping: wrap, $justifyContent: flex-start, $alignItems: flex-start) {
  display: inline-flex;
  flex-flow: $direction $wrapping;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin flexRow($wrapping: wrap, $justifyContent: flex-start, $alignItems: flex-start) {
  @include flexContainer(row, $wrapping, $justifyContent, $alignItems);
}

@mixin flexRowNowrap($justifyContent: flex-start, $alignItems: flex-start) {
  @include flexContainer(row, nowrap, $justifyContent, $alignItems);
}

@mixin flexColumn($wrapping: wrap, $justifyContent: flex-start, $alignItems: flex-start) {
  @include flexContainer(column, $wrapping, $justifyContent, $alignItems);
}

@mixin inlineFlexColumn($wrapping: wrap, $justifyContent: flex-start, $alignItems: flex-start) {
  @include inlineFlexContainer(column, $wrapping, $justifyContent, $alignItems);
}

@mixin flexColumnNowrap($justifyContent: flex-start, $alignItems: flex-start) {
  @include flexColumn(nowrap, $justifyContent, $alignItems);
}

@mixin inlineFlexColumnNowrap($justifyContent: flex-start, $alignItems: flex-start) {
  @include inlineFlexColumn(nowrap, $justifyContent, $alignItems);
}

@mixin flexCenter() {
  @include flexColumnNowrap(center, center);
}

@mixin inlineFlexCenter() {
  @include inlineFlexColumnNowrap(center, center);
}

@mixin basicButton() {
  display: inline-block;
  height: 2rem;
  min-width: 10rem;
  margin: 0 1rem;
  background-color: $primaryColor50;
  color: $whiteColor100;
  outline: none;
  border-radius: 4px;
  border: 1px solid $primaryColor50;
  font-size: 0.83rem;
  font-family: Arial, sans-serif;
  text-decoration: none;
  vertical-align: top;

  &:hover {
    box-shadow: 1px 1px 3px $secondaryColor90;
  }

  &:active {
    background-color: $primaryColor85;
    border: 1px solid $primaryColor85;
    box-shadow: none;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
