@import "../../styles/tools";

.Header {
  @include flexRowNowrap(space-between, center);
  width: 100%;
  height: $pageHeaderHeight;
  padding: 1rem 2rem;
  background-color: $primaryColor100;
  color: $whiteColor85;
  font-size: 2rem;
}
