@import "../../styles/tools";

.Question {
  @include flexColumnNowrap(space-between, flex-start);
  width: calc(100% - 2rem);
  border: 1px solid $secondaryColor10;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;
  background-color: antiquewhite;

  & > .label {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;
  }

  & > .control {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid $transparentColor;
  }
}
