@import "../../styles/tools";

.Aside {
  width: 0;
  height: 100%;
  transition: width 100ms;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $whiteColor100;
  box-shadow: 0 1px 3px $secondaryColor90;

  &.Aside_visible {
    width: $asideWidth;
  }
}

.MainSection {
  width: 100%;
  height: 100%;
  transition: width 100ms;
  background-color: $secondaryColor10;
  overflow-y: auto;
  overflow-x: hidden;

  &.withAside {
    width: calc(100% - #{$asideWidth});
  }
}
